@import '../constants.scss';

.Index {
  padding: 20px;
}

.Portfolio {
  padding: 20px;
  background-color: rgba(225, 225, 225, 1.0);
}

.Portfolio__Card {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}