.landing {
    background-color: darkcyan;
    margin: 0;
}

.landing__growing-portion {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    height: 100vh;
    max-height: 100vh;
}

.logo {
    display: block;
    margin: auto 0;
    width: 100%;
    max-width: 600px;
    height: 100%;

}